@using Abp.Localization
@using Abp.MultiTenancy
@using bbk.netcore.MultiTenancy
@using bbk.netcore.mdl.OMS.Application.ProfileWorks.Dto
@{
    Layout = null;
}

@model ProfileWorkListDto

<div class="modal-content" id="WorkrootCreateModal">
    <div class="modal-header">
        <h5 class="modal-title">Thêm mới từ <span class="font-weight-bold">@Model.Title</span> </h5><button type="button" class="close" data-dismiss="modal"
                                                      aria-label="Close">
            <span aria-hidden="true"><i class="fal fa-times"></i></span>
        </button>
    </div>
    <div class="modal-body">
        <form name="frmCreate" role="form" class="needs-validation" novalidate="">
            <input type="text" hidden name="ParentId" value="@Model.Id" />
            <input type="text" hidden id="WorkProfileLevel" value="@Model.WorkProfileLevel" />
            <div class="form-group row required">
                <label class="col-md-3 col-form-label">@(new FixedLocalizableString("Tiêu đề"))</label>
                <div class="col-md-9">
                    <input type="text" name="Title" class="form-control" required minlength="">
                </div>
            </div>
        </form>
    </div>
</div>
@await Html.PartialAsync("~/Areas/App/Views/Common/Modals/_ModalFooterWithSaveAndCancel_Custom.cshtml")



