@using Abp.Localization
@using bbk.netcore.mdl.OMS.Application.ProfileWorks.Dto

@model ProfileWorkListDto
@section Header{

    <!-- should using in layouts -->
    <link href="~/css/datagrid/datatables/datatables.bundle.css" rel="stylesheet" asp-append-version="true" />
    <environment names="Development">
        <link href="~/libs/bootstrap-datepicker/css/bootstrap-datepicker.css" rel="stylesheet" />
        <link href="~/libs/chartjs/dist/Chart.css" rel="stylesheet" asp-append-version="true" />
        <link href="~/libs-ext/jquery-treegrid/css/jquery.treegrid.css" rel="stylesheet" />
         <link href="~/libs-ext/summernote/dist/summernote-bs4.min.css" rel="stylesheet" />
        <link href="~/view-resources/Areas/Oms/Works/select2.css" rel="stylesheet" />
        <link href="~/view-resources/Areas/PersonalProfile/Dashboard/index.css" rel="stylesheet" asp-append-version="true" />
    </environment>
    <environment names="Staging,Production">
        <link href="~/libs/chartjs/dist/Chart.css" rel="stylesheet" asp-append-version="true" />
        <link href="~/libs-ext/jquery-treegrid/css/jquery.treegrid.css" rel="stylesheet" />
        <link href="~/libs/bootstrap-datepicker/css/bootstrap-datepicker.css" rel="stylesheet" asp-append-version="true" />
        <link href="~/view-resources/Areas/PersonalProfile/Dashboard/index.css" rel="stylesheet" asp-append-version="true" />
    </environment>
}
    @section Scripts{
    <environment names="Development">
         <!-- Chart js -->
         <script src="~/libs/chartjs/dist/Chart.js"  asp-append-version="true"></script>
        <script src="~/libs-ext/chartjs-plugin-datalabels/dist/chartjs-plugin-datalabels.js"  asp-append-version="true"></script>
        <script src="~/libs-ext/select2/dist/js/select2.full.min.js" charset="UTF-8" asp-append-version="true"></script>
        <script src="~/js/datagrid/datatables/datatables.bundle.js" asp-append-version="true"></script>
        <script src="~/libs/bootstrap-datepicker/js/bootstrap-datepicker.min.js" asp-append-version="true"></script>
        <script src="~/libs/bootstrap-datepicker/locales/bootstrap-datepicker.vi.min.js" charset="UTF-8" asp-append-version="true"></script>
        <script src="~/libs-ext/jquery-treegrid/js/jquery.treegrid.js" asp-append-version="true"></script>
        <script src="~/view-resources/Areas/Oms/ProfileWorks/ViewDetails.js" asp-append-version="true"></script>
    </environment>
    <environment names="Staging,Production">
         <!-- Chart js -->
         <script src="~/libs/chartjs/dist/Chart.js"  asp-append-version="true"></script>
        <script src="~/libs-ext/chartjs-plugin-datalabels/dist/chartjs-plugin-datalabels.js"  asp-append-version="true"></script>

        <script src="~/libs/bootstrap-datepicker/js/bootstrap-datepicker.min.js" asp-append-version="true"></script>
        <script src="~/libs/bootstrap-datepicker/locales/bootstrap-datepicker.vi.min.js" charset="UTF-8" asp-append-version="true"></script>
        <script src="~/js/datagrid/datatables/datatables.bundle.js" asp-append-version="true"></script>
        <script src="/view-resources/Areas/PersonalProfile/_Bundles/documents.min.js" asp-append-version="true"></script>
        <script src="~/view-resources/Areas/Oms/ProfileWorks/ViewDetails.js" asp-append-version="true"></script>
    </environment>
}
    <div class="row">
        <div class="col-xl-12">
            <div id="panel-1" class="panel">
                <input type="text" hidden value="@Model.Id" id="ProfileWorkId" />
                <div class="panel-hdr">
                    <h2>
                        <span class="fw-300"><i>Quản lý hồ sơ công việc: </i><span class="font-weight-bold">@Model.Title</span></span>
                    </h2>
                    <div class="panel-toolbar">
                    <button class="btn btn-panel bg-transparent fs-xl w-auto h-auto rounded-0" data-action="panel-fullscreen" data-toggle="tooltip" data-offset="0,10" data-original-title="Fullscreen"><i class="fal fa-expand"></i></button>
                </div>
            </div>
            <div class="panel-container show">
                <div class="panel-content">
                    <!-- Bảng tài liệu -->
                    <div class="mt-4">
                        <h3>Thống kê</h3>
                        <div class="row">
                        <div class="col-md-3">
                            <div class="p-3 rounded mb-g shadow-3">
                                <div class="d-flex align-items-baseline justify-content-between">
                                    <h3>Công việc được giao</h3>
                                    <i class="fas fa-clipboard-list fz-16 ic-dcg"></i>
                                </div>
                                <div class="mt-4">
                                    <p>
                                        <span class="dot-li bg-success"></span>
                                        <span class="fz-09">Hoàn thành</span>
                                        <span class="ml-2 fz-09 ic-success font-weight-bold" id="sum-dg_ht">0</span>/
                                        <span class="font-weight-bold fz-09 sum-dg_all"></span>
                                    </p>
                                    <p>
                                        <span class="dot-li bg-process"></span>
                                        <span class="fz-09">Đang xử lý</span>
                                        <span class="ml-2 fz-09 ic-process font-weight-bold" id="sum-dg_dag">0</span>/
                                        <span class="font-weight-bold fz-09 sum-dg_all"></span>
                                    </p>
                                    <p>
                                        <span class="dot-li bg-wait-process"></span>
                                        <span class="fz-09">Chờ xử lý</span>
                                        <span class="ml-2 fz-09 ic-wait-process font-weight-bold" id="sum-dg_ch">0</span>/
                                        <span class="font-weight-bold fz-09 sum-dg_all"></span>
                                    </p>
                                    <p>
                                        <span class="dot-li bg-limit"></span>
                                        <span class="fz-09">Quá hạn</span>
                                        <span class="ml-2 fz-09 ic-limit font-weight-bold" id="sum-dg_qh">0</span>/
                                        <span class="font-weight-bold fz-09 sum-dg_all"></span>
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="p-3 rounded mb-g shadow-3">
                                 <div class="d-flex align-items-baseline justify-content-between">
                                    <h3>Công việc đã giao</h3>
                                    <i class="fas fa-envelope-open fz-16 ic-dag"></i>
                                </div>
                                <div class="mt-4">
                                    <p>
                                        <span class="dot-li bg-success"></span>
                                        <span class="fz-09">Hoàn thành</span>
                                        <span class="ml-2 fz-09 ic-success font-weight-bold" id="sum-dag_ht"></span>/
                                        <span class="font-weight-bold fz-09 sum-dag_all"></span>
                                    </p>
                                    <p>
                                        <span class="dot-li bg-process"></span>
                                        <span class="fz-09">Đang xử lý</span>
                                        <span class="ml-2 fz-09 ic-process font-weight-bold" id="sum-dag_dag"></span>/
                                        <span class="font-weight-bold fz-09 sum-dag_all"></span>
                                    </p>
                                    <p>
                                        <span class="dot-li bg-wait-process"></span>
                                        <span class="fz-09">Chờ xử lý</span>
                                        <span class="ml-2 fz-09 ic-wait-process font-weight-bold" id="sum-dag_ch"></span>/
                                        <span class="font-weight-bold fz-09 sum-dag_all"></span>
                                    </p>
                                    <p>
                                        <span class="dot-li bg-limit"></span>
                                        <span class="fz-09">Quá hạn</span>
                                        <span class="ml-2 fz-09 ic-limit font-weight-bold" id="sum-dag_qh"></span>/
                                        <span class="font-weight-bold fz-09 sum-dag_all"></span>
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="p-3 rounded mb-g shadow-3">
                                <div class="d-flex align-items-baseline justify-content-between">
                                    <h3>Công việc phối hợp</h3>
                                    <i class="fas fa-handshake fz-16 ic-phh"></i>
                                </div>
                                <div class="mt-4">
                                    <p>
                                        <span class="dot-li bg-success"></span>
                                        <span class="fz-09">Hoàn thành</span>
                                        <span class="ml-2 fz-09 ic-success font-weight-bold" id="sum-ph_ht"></span>/
                                        <span class="font-weight-bold fz-09 sum-ph_all"></span>
                                    </p>
                                    <p>
                                        <span class="dot-li bg-process"></span>
                                        <span class="fz-09">Đang xử lý</span>
                                        <span class="ml-2 fz-09 ic-process font-weight-bold" id="sum-ph_dag"></span>/
                                        <span class="font-weight-bold fz-09 sum-ph_all"></span>
                                    </p>
                                    <p>
                                        <span class="dot-li bg-wait-process"></span>
                                        <span class="fz-09">Chờ xử lý</span>
                                        <span class="ml-2 fz-09 ic-wait-process font-weight-bold" id="sum-ph_ch"></span>/
                                        <span class="font-weight-bold fz-09 sum-ph_all"></span>
                                    </p>
                                    <p>
                                        <span class="dot-li bg-limit"></span>
                                        <span class="fz-09">Quá hạn</span>
                                        <span class="ml-2 fz-09 ic-limit font-weight-bold" id="sum-ph_qh"></span>/
                                        <span class="font-weight-bold fz-09 sum-ph_all"></span>
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="p-3 rounded mb-g shadow-3">
                                <div class="d-flex align-items-baseline justify-content-between">
                                    <h3>Theo dõi</h3>
                                    <i class="fas fa-bullseye fz-16 ic-thd"></i>
                                </div>
                                <div class="mt-4">
                                    <p>
                                        <span class="dot-li bg-success"></span>
                                        <span class="fz-09">Hoàn thành</span>
                                        <span class="ml-2 fz-09 ic-success font-weight-bold">0</span>/
                                        <span class="font-weight-bold fz-09">0</span>
                                    </p>
                                    <p>
                                        <span class="dot-li bg-process"></span>
                                        <span class="fz-09">Đang xử lý</span>
                                        <span class="ml-2 fz-09 ic-process font-weight-bold">0</span>/
                                        <span class="font-weight-bold fz-09">0</span>
                                    </p>
                                    <p>
                                        <span class="dot-li bg-wait-process"></span>
                                        <span class="fz-09">Chờ xử lý</span>
                                        <span class="ml-2 fz-09 ic-wait-process  font-weight-bold">0</span>/
                                        <span class="font-weight-bold fz-09">0</span>
                                    </p>
                                    <p>
                                        <span class="dot-li bg-limit"></span>
                                        <span class="fz-09">Quá hạn</span>
                                        <span class="ml-2 fz-09 ic-limit font-weight-bold">0</span>/
                                        <span class="font-weight-bold fz-09">0</span>
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                    </div>

                    <!-- / Bảng tài liệu -->
                    <!-- Bảng công việc -->
                    <div>
                        <h3 class="mb-0">Công việc</h3>
                        <div class="col-12 d-flex mt-2 pl-0 pr-0">
                            <input type="text" id="SearchTerm" class="form-control col-4" placeholder="Nhập tên công việc hoặc tên tài liệu"/>
                            <div class="col-4">
                                <button class="btn btn-primary waves-effect waves-themed" id="Search">Tìm kiếm</button>
                            </div>
                        </div>
                        <table id="TableViewWork" class="table table-bordered table-hover table-striped w-100">
                            <thead class="bg-primary-600">
                                <tr>
                                    <th>STT</th>
                                    <th>Tên công việc</th>
                                    <th>Người chủ trì</th>
                                    <th>Ngày bắt đầu công việc</th>
                                    <th>Ngày kết thúc công việc</th>
                                    <th>Số lượng tài liệu</th>
                                </tr>
                            </thead>
                            <tbody></tbody>
                        </table>
                    </div>

                    <!-- / Bảng công việc -->

                    <!-- Bảng tài liệu -->
                    @*<div class="mt-4">
                        <h3 class="mb-0">Tài liệu</h3>
                        <table id="TableViewFile" class="table table-bordered table-hover table-striped w-100">
                            <thead class="bg-primary-600">
                                <tr>
                                    <th>Tên tài liệu</th>
                                </tr>
                            </thead>
                            <tbody></tbody>
                        </table>
                    </div>*@

                    <!-- / Bảng tài liệu -->

                    <!-- Biểu đồ -->
                     
                    <!-- / Biểu đồ -->
                </div>
            </div>
        </div>
    </div>
</div>