@{
    Layout = null;
}
<div class="dt-buttons" style="padding-left: 10px;">
    <button class="btn buttons-selected btn-primary btn-sm mr-1 delete" tabindex="0" aria-controls="dt-basic-example" type="button">
        <span><i class="fal fa-times mr-1"></i> Xóa</span>
    </button>
    <button class="btn buttons-selected btn-primary btn-sm mr-1 edit" tabindex="0" aria-controls="dt-basic-example" type="button">
        <span><i class="fal fa-edit mr-1"></i> Sửa</span>
    </button>
    <button class="btn btn-success btn-sm mr-1 add" data-toggle="modal" tabindex="0" aria-controls="dt-basic-example" type="button">
        <span><i class="fal fa-plus mr-1"></i> Thêm</span>
    </button>
    <button class="btn btn-primary btn-sm refresh" tabindex="0" aria-controls="dt-basic-example" type="button">
        <span><i class="fal fa-sync mr-1"></i> Làm mới</span>
    </button>
</div>