@{
    Layout = null;
}
<div class="modal-footer">
    <button type="button" data-content="remove" class="btn btn-default" data-dismiss="modal">
        Hủy
    </button>
    <button type="button" data-content="remove" class="btn btn-primary" id="SaveButton">
        Lưu
    </button>
</div>