<div class="page-content-custom">
    <a href="#" class="page-custom-item_link">
        <i class="far fa-clipboard-list pt-5 mb-4" style="color: #3aa5f5"></i>
        Nhiệm vụ
        <span class="border-bottom-custom mt-3"></span>
    </a>
    <a href="#" class="page-custom-item_link">
        <i class="far fa-file-edit pt-5 mb-4" style="color: #f29e63"></i>
        Ghi chú
        <span class="border-bottom-custom mt-3"></span>

    </a>
    <a href="#" class="page-custom-item_link">
        <i class="far fa-folder-open pt-5 mb-4" style="color: #257d42"></i>
        Tài liệu
        <span class="border-bottom-custom mt-3"></span>

    </a>
    <a href="#" class="page-custom-item_link">
        <i class="fal fa-plus pt-5"></i>
    </a>
</div>
