<div class="modal-footer">
    <button type="button" class="btn btn-secondary close-button close-modal">@(new FixedLocalizableString("Hủy"))</button>
    <button type="button" class="btn btn-primary save-button"><i class="fal fa-save"></i> <span>@(new FixedLocalizableString("Lưu lại"))</span></button>
</div>