<div class="modal-footer">
    <button type="button" class="btn btn-secondary cancel-work-button" @*data-dismiss="modal"*@>@(new FixedLocalizableString("Đóng"))</button>
  @*  <button type="button" class="btn btn-secondary cancel-work-button" >@(new FixedLocalizableString("Hủy công việc"))</button>*@
    <button type="button" id="btnSave" class="btn btn-primary save-button"><i class="fal fa-save"></i> <span>@(new FixedLocalizableString("Ghi"))</span></button>
</div>