@using Abp.Localization
@section Header{

    <!-- should using in layouts -->
    <link href="~/css/datagrid/datatables/datatables.bundle.css" rel="stylesheet" asp-append-version="true" />
    <environment names="Development">
        <link href="~/libs/bootstrap-datepicker/css/bootstrap-datepicker.css" rel="stylesheet" asp-append-version="true" />
    </environment>
    <environment names="Staging,Production">
        <link href="~/libs/bootstrap-datepicker/css/bootstrap-datepicker.css" rel="stylesheet" asp-append-version="true" />
    </environment>
}
    @section Scripts{
    <environment names="Development">
        <script src="~/js/datagrid/datatables/datatables.bundle.js" asp-append-version="true"></script>
        <script src="~/view-resources/Areas/Oms/Units/index.js" asp-append-version="true"></script>
    </environment>
    <environment names="Staging,Production">
        <script src="~/js/datagrid/datatables/datatables.bundle.js" asp-append-version="true"></script>
        <script src="~/view-resources/Areas/Oms/Units/index.min.js" asp-append-version="true"></script>
    </environment>
}
    <div class="row">
        <ol class="breadcrumb breadcrumb-seperator-3">
            <li class="breadcrumb-item ">

                <a href="@Url.Action("Index", "Dashboard", "PersonalProfile")"> <i class="fal fa-home mr-1"></i>Trang chủ</a>
            </li>
            <li class="breadcrumb-item active">Quản lý Đơn Vị Tính</li>
        </ol>
        <div class="col-xl-12">
            <div id="panel-1" class="panel">
                <div class="panel-hdr">
                    <h2>
                        <span class="fw-300"><i>Quản lý Đơn Vị Tính</i></span>
                    </h2>
                    <div class="panel-toolbar">
                        <button class="btn btn-panel waves-effect waves-themed" data-action="panel-collapse" data-toggle="tooltip" data-offset="0,10" data-original-title="Collapse"></button>
                        <button class="btn btn-panel waves-effect waves-themed" data-action="panel-fullscreen" data-toggle="tooltip" data-offset="0,10" data-original-title="Fullscreen"></button>
                        @*<button class="btn btn-panel bg-transparent fs-xl w-auto h-auto rounded-0" data-action="panel-fullscreen" data-toggle="tooltip" data-offset="0,10" data-original-title="Fullscreen"><i class="fal fa-expand"></i></button>*@
                    </div>
                </div>
                <div class="panel-container show">

                    <div class="panel-content">
                        <div class="form-row">
                            <div class="col-lg-6 col-md-12 mb-3">

                                <button id="CreateNewButtonxx" name="CreateNewButton" class="btn btn-sm btn-toolbar-full btn-primary ml-auto">
                                    <span class="fal fa-plus-square"></span>
                                    @(new FixedLocalizableString("Thêm mới"))
                            </button>
                            @* <button id="DeleteAll" name="DeleteButton" class="btn btn-sm btn-toolbar-full btn-primary ml-auto" disabled>
                            <span class="fal fa-trash-alt"></span>
                            @(new FixedLocalizableString("Xóa"))
                            </button>*@
                        </div>
                        <div class="col-lg-6 col-md-12 mb-3 d-flex">
                            <input type="text" id="SearchTerm" name="SearchTerm" placeholder="@(new FixedLocalizableString("Nhập tên đơn vị tính"))" class="form-control" required>
                            <button type="button" id="Search" class="btn btn-primary"><i class="fal fa-search"></i></button>
                        </div>
                    </div>
                    <!-- datatable start -->
                    @* <table id="unitsTable" class="table table-bordered table-hover table-striped w-100 display nowrap">
                    <thead class="bg-primary-600">
                    <tr>
                    <th><input type="checkbox" name="select_all" value="1" id="example-select-all"></th>
                    <th>Mã </th>
                    <th>Tên đơn vị</th>
                    <th>Ghi chú</th>
                    <th></th>
                    </tr>
                    </thead>
                    <tbody></tbody>
                    </table>*@


                    <!-- datatable end -->
                </div>
                <div class="col-sm-12">
                    <table class="table table-bordered table-hover table-striped w-100 display nowrap">
                        <thead class="bg-primary-600">
                            <tr>
                                <th>Tên đơn vị</th>
                                <th>Hành Động</th>
                            </tr>
                        </thead>
                        <tbody class="tbody_hidden" style="display:none;">
                            <tr class="odd">
                                <td valign="top" colspan="5" class="text-center dataTables_empty">Không tìm thấy dữ liệu</td>
                            </tr>
                        </tbody>
                    </table>
                </div>

                <div class="accordion" id="accordionExample">
                </div>
            </div>
        </div>
    </div>
</div>