
<div class="page-logo">
    @*<a href="#" class="page-logo-link press-scale-down d-flex align-items-center" data-toggle="modal" data-target="#modal-shortcut">
            <img src="~/img/logo.png" alt="BBK Solutions" aria-roledescription="logo" style="width:64px">
            <span class="page-logo-text mr-1">TNMT</span>
            <i class="fal fa-angle-down d-inline-block ml-1 fs-lg color-primary-300"></i>
        </a>*@
    <a href="#" class="page-logo-link press-scale-down d-flex align-items-center" data-toggle="modal" data-target="#modal-shortcut">
        <img src="~/img/Logo_bbk.png" alt="BBK Solutions" aria-roledescription="logo" style="width:64px;border: 1px solid #fff;border-radius: 4px;">
        <div>
          <span class="page-logo-text font-weight-bold mr-1">Inventory System</span>
            
        </div>
        @* <i class="fal fa-angle-down d-inline-block ml-1 fs-lg color-primary-300"></i>*@
    </a>

   @* <a href="#" class="page-logo-link press-scale-down d-flex align-items-center position-relative" data-toggle="modal" data-target="#modal-shortcut">
        <img id="image_header" src="/img/tccb/logotc1.gif" style="width: 9%; height: 10%; max-width:81px; max-height:81px;" aria-roledescription="logo">
        <h1 id="text_header" style="color:#b68d01;"></h1>
        <!-- <span class="position-absolute text-white opacity-50 small pos-top pos-right mr-2 mt-n2"></span> -->
        <!-- <i class="fal fa-angle-down d-inline-block ml-1 fs-lg color-primary-300"></i> -->
    </a>*@

</div>




