@using Abp.Timing

<footer class="page-footer" role="contentinfo">
    <div class="d-flex align-items-center flex-1 text-muted">
        <span class="hidden-md-down fw-700" >
            @Clock.Now.Year © <a href="http://ceid.gov.vn" id="text_footer" class="text-primary fw-500" title="http://ceid.gov.vn" target="_blank">
                HỆ THỐNG QUẢN LÝ KHO HÀNG THÔNG MINH
            </a>
        </span>
    </div>
    <div>
        <ul class="list-table m-0">
            @*<li><a href="#" class="text-secondary fw-700">About</a></li>
                <li class="pl-3"><a href="#" class="text-secondary fw-700">License</a></li>*@
            <li class="pl-3"><a href="#" class="text-secondary fw-700">Hướng dẫn sử dụng</a></li>
            @*<li class="pl-3 fs-xl"><a href="#" class="text-secondary"><i class="fal fa-question-circle" aria-hidden="true"></i></a></li>*@
        </ul>
    </div>
</footer>