@{
    Layout = null;
}
<div class="modal-content" id="ItemsCreateModal">
    <div class="modal-header">
        <h5 class="modal-title">Thông tin phân công </h5><button type="button" class="close" data-dismiss="modal"
                                                                       aria-label="Close">
            <span aria-hidden="true"><i class="fal fa-times"></i></span>
        </button>
    </div>
    <div class="modal-body">
        <form name="frmCreate" role="form" class="needs-validation" novalidate="">
            <div class="col-md-12">
                <input value="@ViewBag.SynthesiseId" id="SynthesiseId" hidden>
                <table id="StaffTable" class="table table-bordered table-hover table-striped w-100">
                    <thead class="bg-primary-600">
                        <tr>
                            <th>STT</th>
                            <th>CHUYÊN VIÊN</th>
                            <th>MÃ HÀNG HOÁ</th>
                            <th>TÊN HÀNG HOÁ</th>
                            <th>NCC</th>
                            <th>ĐVT</th>
                            <th>SỐ LƯỢNG</th>
                            <th>Thời gian cần</th>
                            <th>Ghi chú</th>
                        </tr>
                    </thead>
                    <tbody>
                    </tbody>
                </table>
            </div>
        </form>
    </div>
</div>
@await Html.PartialAsync("~/Areas/App/Views/Common/Modals/_ModalFooterWithSaveAndCancelAndHuy.cshtml")